
body{
    max-width: 100%;
    background-color: #A4ABBD;
    font-size: 17px;
}

/* Add a black background color to the top navigation */
.topbar {
  overflow:hidden;
  min-width: 100%;
}

/* Style the links inside the navigation bar */
.topbar a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 17px;
}


.topbar a img{
  float: right;
  width: 75px;
  padding: 0px;
}
/* Change the color of links on hover */
.topbar a:hover {
  display: inline-block;
  position: relative;
  color: black;
}

.topbar ::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
}

.topbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin:10px auto 10px auto;
}

.button{
    background-color: #3e4c67;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    margin:0px 10px;
    border-radius: 20px;

}

hr{

    border-color:#3e4c67; 
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 20px;
    left: 50%;
}

h2{
    margin-left: 20px;

}

h3{
    margin-left: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3e4c67;
  text-align: center;
}

footer h2{
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: 0px;
}

footer h5{
    max-width: 100%;
    margin-top: auto;
    
}

p{
    margin-left: 50px;
}
.right{
    float: right;
}

h4 {
    text-align: center;
    margin-top: auto;
}
